<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Blogposts</h1>
    <div class="row">
      <%= render @blogposts %>
    </div>

  <br>

  <%= link_to 'New Blogpost', new_blogpost_path %>
</div>
