<h1>About Me</h1>
    <h2>Introduction</h2>
    <p>Hello! Thank you for checking my portfolio. I hope that you will find useful information about me and my work. I do all sorts of things, from marketing to web development. I am passionnate about creating beautiful websites and I would love to hear about your project!</p>
    
  <h2>My Skills</h2>
      <ul id="skill-list">
          <li>Social Media Marketing</li>
          <li>Email Marketing</li>
          <li>Content Marketing</li>
          <li>Web development</li>
        </ul>
  
  <h3>My Story</h3>
      <p>After graduating in Communication Sciences and Economics, I decided to work for startups. Since then, I've had different experiences that led among others to jobs in project management, digital marketing, PR and communication. Being passionnate about creating content for websites, I've always missed the technical aspect of it, which is why I am working on web development skills. My goal is to create new websites and be able to edit them. Currently, I am running a coliving and coworking business in Switzerland where I welcome location independent people to work and live together.</p>
